@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import 'variables';
@import 'views/landing';
@import 'views/office';

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-family:'Montserrat', sans-serif;
}
