@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import 'variables';
@import 'bootstrap';
@import 'scrollbar';
@import 'views/landing';
@import 'views/office';
@import 'rooms';

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-family:'Montserrat', sans-serif;
    color:$color-3;
}

h1 {
    line-height:2.3rem;
    b {
        color:$accent-color;
    }
}

.main-container {
    width:100vw;
    height:100vh;
}

input, select, textarea {
    width:100%;
    padding:10px;
    border:0;
    border-radius:10px;
    resize:none;
    &:focus {
        outline:2px solid $accent-color;
    }
}

form {
    background-color:$color-2;
    span {
        width:45px;
        height:5px;
        background-color:$color-3;
        border-radius:10px;
    }
    label {
        padding-left:5px;
        font-size:0.9rem;
    }
}

button {
    background-color:$accent-color;
    color:white;
    padding:10px;
    border-radius:10px;
    border:0;
    cursor:pointer;
    font-weight:600;
}
