@import 'variables';

.room {
    position:absolute;
    z-index:2;
    cursor:pointer;
    background-color:transparent;
    &:hover {
        background-color: rgba(107, 161, 196, 0.3);
    }
}

.hovering {
    background-color: rgba(107, 161, 196, 0.5);
}

.the-office {
    top:2.5%;
    left:9%;
    width:15%;
    height:25.5%;
}

.meeting-room {
    top:2.5%;
    left:24%;
    width:23.5%;
    height:25.5%;
}

.desk {
    top:33%;
    left:1%;
    width:12%;
    height:19%;
}

.silent-room-1 {
    bottom:17%;
    left:34%;
    width:13.5%;
    height:20%;
}

.silent-room-2 {
    bottom:35%;
    left:54%;
    width:7.5%;
    height:9.5%;
}

.silent-room-3 {
    bottom:16.5%;
    right:1.5%;
    width:17%;
    height:17.5%;
}

.kitchen {
    bottom:44.5%;
    left:47.5%;
    width:28%;
    height:16.5%;
}

.break-room {
    top:3%;
    right:1.5%;
    width:14.8%;
    height:28%;
}


.part-1 {
    left:14.5%;
    top:30.5%;
    width:31%;
    height:29%;
}

.part-2 {
    left:4%;
    top:59.5%;
    width:30%;
    height:23%;
}


.open-office-2 {
    top:31.5%;
    right:1.5%;
    width:23%;
    height:34.5%;
}
