@import '../variables';

.avatar-container {
    width:300px;
    img {
        border-radius:50%;
        width:50px;
        height:50px;
        cursor:pointer;
        filter:grayscale(90%);
    }
    .selected {
        outline:2px solid $accent-color;
        filter:grayscale(0%);
        box-shadow:rgba(0, 0, 0, 0.16) 0 1px 4px;
    }
}

.error-container {
    display:flex;
    flex-direction:column;
    padding:10px;
    color:red;
    width:320px;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius:10px;
    gap:5px;
    span {
        color:red;
        margin:0;
        display:flex;
        width:100%;
        background-color:transparent;
    }
}
